* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Josefin+Sans'sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: monospace;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

section {
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
}

.btn {
    margin-top: 2.5rem;
    font-weight: 400;
    display: inline-block;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: .4rem;
    transition: all 0.4sn;
    cursor: pointer;
}

.btn:hover {
    color: #212529;
    background-color: #fff;
}

.btn-primary {
    background-color: #18BC9C;
    border-color: #18BC9C;
    padding: 1.2rem 1rem;
}

.btn-primary:hover {
    background-color: #128f76;
}
.btn-social{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 2rem;
    
}
.btn-large{
    font-size: 2rem;
    padding: 2.2rem 1.6rem;
}
.img-fluid {
    max-width: 40%;
    height: auto;
    border-radius: 100%;
}

.img-fluid-2 {
    width: 315px;
    height: 300px;

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;

}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}


.text-uppercase {
    text-transform: uppercase;
}

/*navbar*/
nav {
    background-color: #2C3E50;
    color: #fff;
    padding: 2.4rem;
    position: fixed;
    width: 100%;
    z-index: 500;
}

#logo-box {
    float: left;
    padding-top: .5rem;

}

#logo-box .logo {
    color: #fff;
    font-weight: 700;
    font-size: 3.2rem;
}

#nav-links {
    float: right;
}

#nav-links li {
    float: left;
    margin: .4rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 800;
    display: block;
    padding: 2rem;
    letter-spacing: .1rem;
    transition: color .3sn;
}

#nav-links .nav-item {
    float: left;
    margin: .4rem;
}

#nav-links .nav-link:hover {
    color: #18bc9c;
}

/*header*/
header {
    background-color: #18BC9C;
    height: 900px;
    padding-top: calc(114px + 10rem);
    text-align: center;
    padding-bottom: 114px;
}

header h1 {
    color: #fff;
    font-size: 7rem;
}

header h2 {
    color: #fff;
    font-family: cursive;
    font-size: 3rem;
    font-weight: 300;
    padding-right: 28px;
}

.star-light,
.star-dark {
    border: none;
    border-top: .4rem solid #fff;
    padding: 5px;
    max-width: 25rem;
    margin: 2.5rem auto;
    height: 50px;
}

hr.star-light {
    border-color: #fff;

}

hr.star-dark {
    border-color: #2C3E50;
}

.star-light::after {
    color: #fff;
    background-color: #18BC9C;
}

.star-dark::after {
    background-color: #fff;
    color: #2C3E50;
}

.star-light::after,
.star-dark::after {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    padding: 0 8px;

}

#classes h2 {
    font-size: 4.8rem;
    color: #2C3E50;
}

.col {
    float: left;
    width: 25%;
    padding: 10px;

}

.classes-item {
    position: relative;
    height: 300px;
}

.classes-item img {
    display: block;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #18BC9C;
    opacity: 0;
    transition: opacity .5s ease;

}

.img-overlay .icon {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.classes-item:hover .img-overlay {
    opacity: 0.8;
}

#about {
    background-color: #18BC9C;
    color: #fff;

}

#about h2 {
    font-size: 4.8rem;
}

#about-text {
    text-align: left;
    font-size: 2rem;
}

#about-text .left {
    float: left;
    width: 50%;
    padding-right: 8rem;
    padding-left: 10rem;
}

#about-text .right {
    float: right;
    width: 50%;
    padding-left: 6rem;
    padding-right: 5rem;
}

#contact h2 {
    font-size: 4.8rem;
    color: 2C3E50;
}

#contact-form {
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 1rem;
    margin-bottom: 4rem;

}

.form-group input,
.form-group textarea {
    border: none;
    width: 100%;
    display: inline-block;
    font-size: 2.4rem;
}

.form-group input:focus {
    outline: 0;
}

footer {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #2C3E50;
    color: #fff;
    text-align: center;
}
footer h4{
    font-size: 2.8rem;
    
}
footer li{
    display: inline-block;
    margin-right: 10px;
}
.copyright {
    background-color: #000000;
    color: #fff;
    padding-bottom: 2.4rem;
    padding-top: 2.4rem;
   text-align: center;
}


